@import url('https://fonts.googleapis.com/css?family=Dosis:700');

.navlink {
  text-decoration: none;
  padding: 0.5em;
  color: #589b76;
  font-size: 1.4em;
}

* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

nav {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  height: 80px;
  padding: 10px;
}

.smallButton {
  width: 3vw;
  height: 3vw;
}

img {
  max-width: 100%;
  height: auto;
}

.profile-pic {
  width: 50%;
  height: auto;
}

p {
  color: #252525;
  line-height: 1.5em;
}
