* {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#ffffff, #ccffe3);
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.title {
  text-align: center;
}

nav {
  align-items: center;
  background-color: #589b76;
  color: #f7f7f7;
  display: flex;
  height: 80px;
  padding: 10px;
}
